* {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 320px 200px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.alert-dialog {
    display: none;
    position: absolute;
    width: 220px;
    height: 120px;
    background-color: #fafafa;
    top: 35%;
    right: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert-dialog > h4 {
    color: red;
}

#close-btn {
    padding: 4px 24px;
    background-color: red;
    border-radius: 4px;
    color: white;
}

#board {
    border: 2px solid black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.play-btn {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
}

.play-btn:hover, #close-btn:hover {
    cursor: pointer;
    opacity: .9;
}